*,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Comic Neue', cursive;
}

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  border: 2px solid black;
}

#navTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

h1 {
  display: none;
}

#navLinks {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}

.navLinks a:hover {
  color: red;
}

#navLinks .navLinks {
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.displayLibrary {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.cont-book {
  display: flex;
  width: 100%;
}

.cont-book:nth-child(even) {
  background-color: rgb(160, 217, 203);
}

.cont-book:nth-child(odd) {
  background-color: aliceblue;
}

.titleBook {
  width: 40vw;
  padding: 1%;
}

.authorBook {
  width: 32vw;
  padding: 1%;
}

.delete {
  width: 18%;
  padding: 1%;
}

.cont-division {
  display: flex;
  margin-top: 3vh;
}

div {
  display: flex;
  justify-content: center;
}

div hr {
  width: 40%;
  color: black;
  border-color: black;
  margin-top: 1rem;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  margin: 1rem;
  display: none;
}

.add h4 {
  width: 40%;
}

.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5vh;
}

.addForm .title {
  width: 60%;
}

.addForm .author {
  width: 60%;
}

.btn {
  width: 20%;
  align-self: flex-end;
  margin-right: 20%;
}

.by {
  padding: 1%;
}


#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  border: 2px solid black;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .displayLibrary {
    margin: auto;
    max-width: 65vw;
    outline: 2px solid black;
  }

  h1 {
    margin-top: 2rem;
  }

  h4 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .addForm {
    max-width: 50vw;
  }

  .btn {
    width: 3rem;
    background-color: white;
    border: 2px solid black;
    height: 1.3rem;
  }

  .title {
    border: 2px solid black;
    height: 1.3rem;
    padding-left: 0.3rem;
    font-size: 1rem;
  }

  .delete {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-right: 0.7rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 600;
    height: 2rem;
  }

  .author {
    border: 2px solid black;
    height: 1.3rem;
    padding-left: 0.3rem;
  }

  .cont-book {
    /*   display: flex; */
    width: 100%;
  }

  .cont-book:nth-child(even) {
    background-color: rgb(160, 217, 203);
  }

  .cont-book:nth-child(odd) {
    background-color: aliceblue;
  }
}